<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galihpw.projectmodul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:label="Modul Saku Agrin" />
        <activity
            android:name=".Percobaan1Activity"
            android:screenOrientation="portrait"
            android:label="Percobaan 1"/>

        <activity android:name=".Percobaan1.IsiPercobaan1A"
            android:label="Uji Boraks Sederhana" />
        <activity android:name=".Percobaan1.IsiPercobaan1B"
            android:label="Uji Nyala Boraks"/>
        <activity android:name=".Percobaan1.IsiPercobaan1C"
            android:label="Uji Formalin" />
        <activity android:name=".Percobaan1.IsiPercobaan1D"
            android:label="Penambahan dalam berbagai BTP" />

        <activity android:name=".Percobaan2.IsiPercobaan2"
            android:label="Fermentasi pada Pembuatan Roti"/>

        <activity android:name=".Percobaan3.IsiPercobaan3"
            android:label="Emulsifikasi Pada Pembuatan Mayonnaise" />

        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KuisActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Kuis"/>
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Percobaan2Activity"
            android:screenOrientation="portrait"
            android:label="Percobaan 2"/>
        <activity
            android:name=".Percobaan3Activity"
            android:screenOrientation="portrait"
            android:label="Percobaan 3"/>
        <activity
            android:name=".Percobaan4Activity"
            android:screenOrientation="portrait"
            android:label="Percobaan 4"/>

        <activity android:name=".Percobaan4.IsiPercobaan4a"
            android:label="Pembuatan Gula Invert"/>
        <activity android:name=".Percobaan4.IsiPercobaan4b"
            android:label="Pembuatan Fondant Giling"/>
        <activity android:name=".Percobaan4.IsiPercobaan4c"
            android:label="Pembuatan Permen Jelly"/>
        <activity android:name=".Percobaan4.IsiPercobaan4d"
            android:label="Pembuatan mMrshmallow"/>
        <activity android:name=".Percobaan4.IsiPercobaan4e"
            android:label="Pembuatan Hard Candy"/>

    </application>

</manifest>